.column-chats {
  height: 100vh;
  background: rgb(48, 55, 64);
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.room-recent-chats {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
