<div class="list-chats">
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
	<room-chat-item></room-chat-item>
</div>