<div class="container-form">
	<h2 class="text--sentence-case title">reset password</h2>
	<p class="text--sentence-case subtitle">reset password with
		<span class="d-inline-block text--sentence-case">chat-land</span>
	</p>
	<form [formGroup]="formReset" class="form">
		<div class="container-field">
			<label class="label-input">email</label>
			<div class="input-container">
				<div class="container-icon">
					<icon-user-circle fill="white"></icon-user-circle>
				</div>
				<input type="email" placeholder="Enter email" formControlName="email" focus-input />
      </div>
				<!-- 	<div class="message-error" *ngFor="let error of getErrorsByControl('email')">
					{{ getMessageError(error) }}
				</div> -->
			</div>
			<button type="submit" class="btn btn-block btn-purple text--sentence-case">reset</button>
	</form>
	<p class="text--sentence-case text--signup">
		remember it? <a [routerLink]="['/signin']" class="link link--purple text--sentence-case">sign in</a>
	</p>
</div>