<nav class="side-menu">
  <div class="side-menu__header">
    <icon-chat-land></icon-chat-land>
  </div>
  <div class="side-menu__center">
    <ul class="list-menu">
      <li class="item-menu">
        <icon-account [size]="20"></icon-account>
      </li>
      <li class="item-menu">
        <icon-message></icon-message>
      </li>
      <li class="item-menu">
        <icon-exit></icon-exit>
      </li>
    </ul>
  </div>
  <div class="side-menu__bottom">
    <chat-account-user></chat-account-user>
  </div>
</nav>
